In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('/Users/danielmurphy/Desktop/lee-innovations-model/data/founder_V0.3_founder.csv')
print(df.head(5))
print(df.tail)

         Full Name                       Primary Job Title  \
0        Elon Musk       Chairman, Product Architect & CEO
1      JB Straubel                      Co-Founder and CTO
2  Mark Zuckerberg                           Founder & CEO
3       Ross Mason      Founder and VP of Product Strategy
4     Rahul Gandhi  Co-Founder & SVP of Finance Operations

                                                 Bio  Gender  \
0  Elon co-founded Tesla and continues to oversee...       1
1  The story of JB Straubel's career started at a...       1
2  Mark Zuckerberg is the founder and CEO of Face...       1
3  Created the Mule Project, Founded MuleSoft, go...       1
4  Rahul is a Co-founder & Senior Vice President ...       1

   Number of News Articles  Number of Founded Organizations  \
0                    14445                                7
1                      100                                2
2                    19678                               10
3                      128                                1
4                      861                                1

   Number of Portfolio Companies  Number of Investments_x  \
0                             11                       21
1                              1                        1
2                              6                        7
3                              6                        7
4                              0                        0

   Number of Partner Investments  Number of Lead Investments_x  ...  \
0                              0                             9  ...
1                              0                             0  ...
2                              0                             0  ...
3                              0                             0  ...
4                              0                             0  ...

   Number of Events_x                                         Categories  \
0                   2     Innovation Management, Automotive, Electronics
1                   1     Innovation Management, Automotive, Electronics
2                   5               Social Media, Social, Social Network
3                   5  Apps, Enterprise Software, Developer APIs, Fin...
4                   0                 Internet, Self-Storage, E-Commerce

  Headquarters Location  Operating Status  Founded Date  Closed Date  \
0             California                1          2003            0
1             California                1          2003            0
2             California                1          2004            0
3             California                1          2006            0
4               New York                1          2013            0

   Company Type  Number of Founders  Success  Founder
0             1                   4        1        0
1             1                   4        1        1
2             1                   5        1        1
3             1                   2        1        1
4             0                   3        1        1

[5 rows x 21 columns]
<bound method NDFrame.tail of              Full Name                       Primary Job Title  \
0            Elon Musk       Chairman, Product Architect & CEO
1          JB Straubel                      Co-Founder and CTO
2      Mark Zuckerberg                           Founder & CEO
3           Ross Mason      Founder and VP of Product Strategy
4         Rahul Gandhi  Co-Founder & SVP of Finance Operations
...                ...                                     ...
18356    Glenn Shimkus                        Co-founder & CEO
18357  Douglas Keszler                              Co-Founder
18358  Clark Johannson   Co-Founder & Chief Technology Officer
18359  Stefano Colonna                                 Founder
18360  Daniel Hoepfner                                 Founder

                                                     Bio  Gender  \
0      Elon co-founded Tesla and continues to oversee...       1
1      The story of JB Straubel's career started at a...       1
2      Mark Zuckerberg is the founder and CEO of Face...       1
3      Created the Mule Project, Founded MuleSoft, go...       1
4      Rahul is a Co-founder & Senior Vice President ...       1
...                                                  ...     ...
18356                                                  0       1
18357                                                  0       1
18358                                                  0       1
18359  Digital serial entrepreneur.  Founded and mana...       1
18360  Daniel Hoepfner is founder and managing direct...       1

       Number of News Articles  Number of Founded Organizations  \
0                        14445                                7
1                          100                                2
2                        19678                               10
3                          128                                1
4                          861                                1
...                        ...                              ...
18356                        0                                1
18357                        0                                1
18358                        0                                1
18359                        0                                1
18360                        0                                2

       Number of Portfolio Companies  Number of Investments_x  \
0                                 11                       21
1                                  1                        1
2                                  6                        7
3                                  6                        7
4                                  0                        0
...                              ...                      ...
18356                              0                        0
18357                              0                        0
18358                              0                        0
18359                              0                        0
18360                              0                        0

       Number of Partner Investments  Number of Lead Investments_x  ...  \
0                                  0                             9  ...
1                                  0                             0  ...
2                                  0                             0  ...
3                                  0                             0  ...
4                                  0                             0  ...
...                              ...                           ...  ...
18356                              0                             0  ...
18357                              0                             0  ...
18358                              0                             0  ...
18359                              0                             0  ...
18360                              0                             0  ...

       Number of Events_x                                         Categories  \
0                       2     Innovation Management, Automotive, Electronics
1                       1     Innovation Management, Automotive, Electronics
2                       5               Social Media, Social, Social Network
3                       5  Apps, Enterprise Software, Developer APIs, Fin...
4                       0                 Internet, Self-Storage, E-Commerce
...                   ...                                                ...
18356                   0  Document Management, Transaction Processing, R...
18357                   0          Semiconductor, Electronics, Manufacturing
18358                   0         Peer to Peer, Construction, Social Network
18359                   0                E-Commerce, Mobile, Mobile Payments
18360                   1  Content Marketing, Mobile, Publishing, Digital...

      Headquarters Location  Operating Status  Founded Date  Closed Date  \
0                 California                1          2003            0
1                 California                1          2003            0
2                 California                1          2004            0
3                 California                1          2006            0
4                   New York                1          2013            0
...                      ...              ...           ...          ...
18356               Illinois                1          2009            0
18357                 Oregon                1          2007            0
18358                 Canada                1          2015            0
18359          Massachusetts                1          2009            0
18360                Germany                1          2011            0

       Company Type  Number of Founders  Success  Founder
0                 1                   4        1        0
1                 1                   4        1        1
2                 1                   5        1        1
3                 1                   2        1        1
4                 0                   3        1        1
...             ...                 ...      ...      ...
18356             0                   2        1        1
18357             1                   2        1        1
18358             1                   3        0        1
18359             1                   1        0        1
18360             1                   2        0        1

[18361 rows x 21 columns]>

In [4]:
print(df.shape)
print(df.describe)
print(df.info)

(18361, 21)
<bound method NDFrame.describe of              Full Name                       Primary Job Title  \
0            Elon Musk       Chairman, Product Architect & CEO
1          JB Straubel                      Co-Founder and CTO
2      Mark Zuckerberg                           Founder & CEO
3           Ross Mason      Founder and VP of Product Strategy
4         Rahul Gandhi  Co-Founder & SVP of Finance Operations
...                ...                                     ...
18356    Glenn Shimkus                        Co-founder & CEO
18357  Douglas Keszler                              Co-Founder
18358  Clark Johannson   Co-Founder & Chief Technology Officer
18359  Stefano Colonna                                 Founder
18360  Daniel Hoepfner                                 Founder

                                                     Bio  Gender  \
0      Elon co-founded Tesla and continues to oversee...       1
1      The story of JB Straubel's career started at a...       1
2      Mark Zuckerberg is the founder and CEO of Face...       1
3      Created the Mule Project, Founded MuleSoft, go...       1
4      Rahul is a Co-founder & Senior Vice President ...       1
...                                                  ...     ...
18356                                                  0       1
18357                                                  0       1
18358                                                  0       1
18359  Digital serial entrepreneur.  Founded and mana...       1
18360  Daniel Hoepfner is founder and managing direct...       1

       Number of News Articles  Number of Founded Organizations  \
0                        14445                                7
1                          100                                2
2                        19678                               10
3                          128                                1
4                          861                                1
...                        ...                              ...
18356                        0                                1
18357                        0                                1
18358                        0                                1
18359                        0                                1
18360                        0                                2

       Number of Portfolio Companies  Number of Investments_x  \
0                                 11                       21
1                                  1                        1
2                                  6                        7
3                                  6                        7
4                                  0                        0
...                              ...                      ...
18356                              0                        0
18357                              0                        0
18358                              0                        0
18359                              0                        0
18360                              0                        0

       Number of Partner Investments  Number of Lead Investments_x  ...  \
0                                  0                             9  ...
1                                  0                             0  ...
2                                  0                             0  ...
3                                  0                             0  ...
4                                  0                             0  ...
...                              ...                           ...  ...
18356                              0                             0  ...
18357                              0                             0  ...
18358                              0                             0  ...
18359                              0                             0  ...
18360                              0                             0  ...

       Number of Events_x                                         Categories  \
0                       2     Innovation Management, Automotive, Electronics
1                       1     Innovation Management, Automotive, Electronics
2                       5               Social Media, Social, Social Network
3                       5  Apps, Enterprise Software, Developer APIs, Fin...
4                       0                 Internet, Self-Storage, E-Commerce
...                   ...                                                ...
18356                   0  Document Management, Transaction Processing, R...
18357                   0          Semiconductor, Electronics, Manufacturing
18358                   0         Peer to Peer, Construction, Social Network
18359                   0                E-Commerce, Mobile, Mobile Payments
18360                   1  Content Marketing, Mobile, Publishing, Digital...

      Headquarters Location  Operating Status  Founded Date  Closed Date  \
0                 California                1          2003            0
1                 California                1          2003            0
2                 California                1          2004            0
3                 California                1          2006            0
4                   New York                1          2013            0
...                      ...              ...           ...          ...
18356               Illinois                1          2009            0
18357                 Oregon                1          2007            0
18358                 Canada                1          2015            0
18359          Massachusetts                1          2009            0
18360                Germany                1          2011            0

       Company Type  Number of Founders  Success  Founder
0                 1                   4        1        0
1                 1                   4        1        1
2                 1                   5        1        1
3                 1                   2        1        1
4                 0                   3        1        1
...             ...                 ...      ...      ...
18356             0                   2        1        1
18357             1                   2        1        1
18358             1                   3        0        1
18359             1                   1        0        1
18360             1                   2        0        1

[18361 rows x 21 columns]>
<bound method DataFrame.info of              Full Name                       Primary Job Title  \
0            Elon Musk       Chairman, Product Architect & CEO
1          JB Straubel                      Co-Founder and CTO
2      Mark Zuckerberg                           Founder & CEO
3           Ross Mason      Founder and VP of Product Strategy
4         Rahul Gandhi  Co-Founder & SVP of Finance Operations
...                ...                                     ...
18356    Glenn Shimkus                        Co-founder & CEO
18357  Douglas Keszler                              Co-Founder
18358  Clark Johannson   Co-Founder & Chief Technology Officer
18359  Stefano Colonna                                 Founder
18360  Daniel Hoepfner                                 Founder

                                                     Bio  Gender  \
0      Elon co-founded Tesla and continues to oversee...       1
1      The story of JB Straubel's career started at a...       1
2      Mark Zuckerberg is the founder and CEO of Face...       1
3      Created the Mule Project, Founded MuleSoft, go...       1
4      Rahul is a Co-founder & Senior Vice President ...       1
...                                                  ...     ...
18356                                                  0       1
18357                                                  0       1
18358                                                  0       1
18359  Digital serial entrepreneur.  Founded and mana...       1
18360  Daniel Hoepfner is founder and managing direct...       1

       Number of News Articles  Number of Founded Organizations  \
0                        14445                                7
1                          100                                2
2                        19678                               10
3                          128                                1
4                          861                                1
...                        ...                              ...
18356                        0                                1
18357                        0                                1
18358                        0                                1
18359                        0                                1
18360                        0                                2

       Number of Portfolio Companies  Number of Investments_x  \
0                                 11                       21
1                                  1                        1
2                                  6                        7
3                                  6                        7
4                                  0                        0
...                              ...                      ...
18356                              0                        0
18357                              0                        0
18358                              0                        0
18359                              0                        0
18360                              0                        0

       Number of Partner Investments  Number of Lead Investments_x  ...  \
0                                  0                             9  ...
1                                  0                             0  ...
2                                  0                             0  ...
3                                  0                             0  ...
4                                  0                             0  ...
...                              ...                           ...  ...
18356                              0                             0  ...
18357                              0                             0  ...
18358                              0                             0  ...
18359                              0                             0  ...
18360                              0                             0  ...

       Number of Events_x                                         Categories  \
0                       2     Innovation Management, Automotive, Electronics
1                       1     Innovation Management, Automotive, Electronics
2                       5               Social Media, Social, Social Network
3                       5  Apps, Enterprise Software, Developer APIs, Fin...
4                       0                 Internet, Self-Storage, E-Commerce
...                   ...                                                ...
18356                   0  Document Management, Transaction Processing, R...
18357                   0          Semiconductor, Electronics, Manufacturing
18358                   0         Peer to Peer, Construction, Social Network
18359                   0                E-Commerce, Mobile, Mobile Payments
18360                   1  Content Marketing, Mobile, Publishing, Digital...

      Headquarters Location  Operating Status  Founded Date  Closed Date  \
0                 California                1          2003            0
1                 California                1          2003            0
2                 California                1          2004            0
3                 California                1          2006            0
4                   New York                1          2013            0
...                      ...              ...           ...          ...
18356               Illinois                1          2009            0
18357                 Oregon                1          2007            0
18358                 Canada                1          2015            0
18359          Massachusetts                1          2009            0
18360                Germany                1          2011            0

       Company Type  Number of Founders  Success  Founder
0                 1                   4        1        0
1                 1                   4        1        1
2                 1                   5        1        1
3                 1                   2        1        1
4                 0                   3        1        1
...             ...                 ...      ...      ...
18356             0                   2        1        1
18357             1                   2        1        1
18358             1                   3        0        1
18359             1                   1        0        1
18360             1                   2        0        1

[18361 rows x 21 columns]>

In [5]:
for col in df.iteritems():
    print(df[str(col[0])])

0              Elon Musk
1            JB Straubel
2        Mark Zuckerberg
3             Ross Mason
4           Rahul Gandhi
              ...
18356      Glenn Shimkus
18357    Douglas Keszler
18358    Clark Johannson
18359    Stefano Colonna
18360    Daniel Hoepfner
Name: Full Name, Length: 18361, dtype: object
0             Chairman, Product Architect & CEO
1                            Co-Founder and CTO
2                                 Founder & CEO
3            Founder and VP of Product Strategy
4        Co-Founder & SVP of Finance Operations
                          ...
18356                          Co-founder & CEO
18357                                Co-Founder
18358     Co-Founder & Chief Technology Officer
18359                                   Founder
18360                                   Founder
Name: Primary Job Title, Length: 18361, dtype: object
0        Elon co-founded Tesla and continues to oversee...
1        The story of JB Straubel's career started at a...
2        Mark Zuckerberg is the founder and CEO of Face...
3        Created the Mule Project, Founded MuleSoft, go...
4        Rahul is a Co-founder & Senior Vice President ...
                               ...
18356                                                    0
18357                                                    0
18358                                                    0
18359    Digital serial entrepreneur.  Founded and mana...
18360    Daniel Hoepfner is founder and managing direct...
Name: Bio, Length: 18361, dtype: object
0        1
1        1
2        1
3        1
4        1
        ..
18356    1
18357    1
18358    1
18359    1
18360    1
Name: Gender, Length: 18361, dtype: int64
0        14445
1          100
2        19678
3          128
4          861
         ...
18356        0
18357        0
18358        0
18359        0
18360        0
Name: Number of News Articles, Length: 18361, dtype: int64
0         7
1         2
2        10
3         1
4         1
         ..
18356     1
18357     1
18358     1
18359     1
18360     2
Name: Number of Founded Organizations, Length: 18361, dtype: int64
0        11
1         1
2         6
3         6
4         0
         ..
18356     0
18357     0
18358     0
18359     0
18360     0
Name: Number of Portfolio Companies, Length: 18361, dtype: int64
0        21
1         1
2         7
3         7
4         0
         ..
18356     0
18357     0
18358     0
18359     0
18360     0
Name: Number of Investments_x, Length: 18361, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
18356    0
18357    0
18358    0
18359    0
18360    0
Name: Number of Partner Investments, Length: 18361, dtype: int64
0        9
1        0
2        0
3        0
4        0
        ..
18356    0
18357    0
18358    0
18359    0
18360    0
Name: Number of Lead Investments_x, Length: 18361, dtype: int64
0        6
1        0
2        0
3        1
4        0
        ..
18356    0
18357    0
18358    0
18359    0
18360    0
Name: Number of Exits_x, Length: 18361, dtype: int64
0        2
1        1
2        5
3        5
4        0
        ..
18356    0
18357    0
18358    0
18359    0
18360    1
Name: Number of Events_x, Length: 18361, dtype: int64
0           Innovation Management, Automotive, Electronics
1           Innovation Management, Automotive, Electronics
2                     Social Media, Social, Social Network
3        Apps, Enterprise Software, Developer APIs, Fin...
4                       Internet, Self-Storage, E-Commerce
                               ...
18356    Document Management, Transaction Processing, R...
18357            Semiconductor, Electronics, Manufacturing
18358           Peer to Peer, Construction, Social Network
18359                  E-Commerce, Mobile, Mobile Payments
18360    Content Marketing, Mobile, Publishing, Digital...
Name: Categories, Length: 18361, dtype: object
0            California
1            California
2            California
3            California
4              New York
              ...
18356          Illinois
18357            Oregon
18358            Canada
18359     Massachusetts
18360           Germany
Name: Headquarters Location , Length: 18361, dtype: object
0        1
1        1
2        1
3        1
4        1
        ..
18356    1
18357    1
18358    1
18359    1
18360    1
Name: Operating Status, Length: 18361, dtype: int64
0        2003
1        2003
2        2004
3        2006
4        2013
         ...
18356    2009
18357    2007
18358    2015
18359    2009
18360    2011
Name: Founded Date, Length: 18361, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
18356    0
18357    0
18358    0
18359    0
18360    0
Name: Closed Date, Length: 18361, dtype: int64
0        1
1        1
2        1
3        1
4        0
        ..
18356    0
18357    1
18358    1
18359    1
18360    1
Name: Company Type, Length: 18361, dtype: int64
0        4
1        4
2        5
3        2
4        3
        ..
18356    2
18357    2
18358    3
18359    1
18360    2
Name: Number of Founders, Length: 18361, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
18356    1
18357    1
18358    0
18359    0
18360    0
Name: Success, Length: 18361, dtype: int64
0        0
1        1
2        1
3        1
4        1
        ..
18356    1
18357    1
18358    1
18359    1
18360    1
Name: Founder, Length: 18361, dtype: int64

In [6]:
def checkColNames(data):
    cols_names = []
    for col in data.iteritems():
        cols_names.append(col[0])
    return cols_names
checkColNames(df)

['Full Name',
 'Primary Job Title',
 'Bio',
 'Gender',
 'Number of News Articles',
 'Number of Founded Organizations',
 'Number of Portfolio Companies',
 'Number of Investments_x',
 'Number of Partner Investments',
 'Number of Lead Investments_x',
 'Number of Exits_x',
 'Number of Events_x',
 'Categories',
 'Headquarters Location ',
 'Operating Status',
 'Founded Date',
 'Closed Date',
 'Company Type',
 'Number of Founders',
 'Success',
 'Founder']

In [77]:
def countGenders(col):
    male_count = 0
    female_count = 0
    not_identified_count = 0
    for g in df[col]:
        if g == 1:
            male_count += 1
        if g == 0:
            female_count += 1
        else:
            not_identified_count += 1
    print(male_count)
    print(female_count)
    print(not_identified_count)
countGenders('Gender')
female_percent = np.divide(1709, (16521+1709))
print("The percent of female founders in this dataset is " + 
      str(np.round(female_percent*100, decimals=2))+".")

16521
1709
16652
The percent of female founders in this dataset is 9.37.

In [146]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OneHotEncoder
cat_df = df['Categories']
cat_df = pd.Series(cat_df)
cat_df = cat_df.str.split(',', expand=True)
df2 = pd.DataFrame(df2)
df2 = pd.concat([cat_df[0], cat_df[1], cat_df[2]], axis=1)
# temp_df = pd.concat([df, df2], axis = 1)
# temp_df = temp_df.drop(['Category1', 'Category2', 'Category3'],axis=1)

                   Category1                Category2         Category3
0      Innovation Management               Automotive       Electronics
1      Innovation Management               Automotive       Electronics
2               Social Media                   Social    Social Network
3                       Apps      Enterprise Software    Developer APIs
4                   Internet             Self-Storage        E-Commerce
...                      ...                      ...               ...
18356    Document Management   Transaction Processing       Real Estate
18357          Semiconductor              Electronics     Manufacturing
18358           Peer to Peer             Construction    Social Network
18359             E-Commerce                   Mobile   Mobile Payments
18360      Content Marketing                   Mobile        Publishing

[18361 rows x 3 columns]

In [158]:
df = pd.DataFrame(temp_df)
y = df['Success'].values
X = df.drop(['Full Name', 'Primary Job Title', 'Bio', 'Operating Status', 'Closed Date', 'Success', 'Founder', 'Company Type', 'Category1', 'Category2', 'Category3', 'Categories', 'Headquarters Location '], axis = 1).values
# print(X.shape)
# print(y.shape)
knn = KNeighborsClassifier(n_neighbors = 10)
knn.fit(X, y) # fit model to data
y_pred = knn.predict(X) # predict on X
print(y_pred)
print(y)

[1 1 1 ... 0 1 0]
[1 1 1 ... 0 0 0]